:root {
  --heading-font-family: "Roboto ", Sans-Serif;
  --default-font-family: "Monserrat", Sans-Serif;
  --background: #122466;
  --button-background-color: #2348cc;
  --button-branding-background-color: #f42f4b;
  --button-font-color: #fefeff;
  --main-font-color: #181816;
  --hero-background: linear-gradient(
    120deg,
    #21103d 5%,
    #122466 17%,
    #2348cc 38%,
    #f42f4b 85%,
    #fc87e2 105%
  );
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-font-color);
  font-family: var(--heading-font-family);
  font-weight: 700;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  color: #fefeff;
  background: var(--background);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  color: #fefeff;
}

.hero h1 {
  color: #fc87e2;
}
.hero h2 {
  font-size: 24px;
  color: #fefeff;
}

.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
}
.content h3 {
  font-size: 24px;
  line-height: 1;
  margin: 20px 0;
}

.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding {
  color: var(--button-font-color);
  background: var(--button-background-color);
  border-radius: 50px;
  font-size: 18px;
  padding: 15px 30px;
  border: 2px solid;
}

.btn-branding-outline {
  color: var(--button-font-color);
  background: var(--button-branding-background-color);
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
